.notify {
	position: relative;
	display: block;
	width: 100%;
	padding: .5rem .7rem;
	border: 1px solid #eee;
	background-color: #fff;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	-o-border-radius: .25rem;
	-ms-border-radius: .25rem;
	border-radius: .25rem;
	border-left: 4px solid transparent;
}

.notify.notify-success {
	-webkit-border-left-color: #28a745;
	-moz-border-left-color: #28a745;
	-o-border-left-color: #28a745;
	-ms-border-left-color: #28a745;
	border-left-color: #28a745;
}

.notify.notify-info {
	-webkit-border-left-color: #17a2b8;
	-moz-border-left-color: #17a2b8;
	-o-border-left-color: #17a2b8;
	-ms-border-left-color: #17a2b8;
	border-left-color: #17a2b8;
}

.notify.notify-danger {
	-webkit-border-left-color: #dc3545;
	-moz-border-left-color: #dc3545;
	-o-border-left-color: #dc3545;
	-ms-border-left-color: #dc3545;
	border-left-color: #dc3545;
}

.notify.notify-primary {
	-webkit-border-left-color: #007bff;
	-moz-border-left-color: #007bff;
	-o-border-left-color: #007bff;
	-ms-border-left-color: #007bff;
	border-left-color: #007bff;
}

.notify.notify-warning {
	-webkit-border-left-color: #ffc107;
	-moz-border-left-color: #ffc107;
	-o-border-left-color: #ffc107;
	-ms-border-left-color: #ffc107;
	border-left-color: #ffc107;
}

.notify:last-child {
	margin-bottom: .8rem!important;
}

.notify button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: none;
	padding: 0 .8rem;
	background-color: transparent;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	color: #ccc;
}

.notify button:hover {
	color: #777;
}

table.form_table {
	width: 100%;
}

table.form_table th {
	font-weight: 600;
	padding-right: 1rem;
}

table.form_table td {
	width: 70%;
	padding: 0.5rem 0;
}

table.form_table h3 {
	font-weight: 600;
	font-size: 1.15rem;
}