.nav-sidebar>.nav-item .nav-icon {
    vertical-align: text-bottom;
}

.content-header h1 {
    margin-top: .1rem;
}

.content-header a.btn {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: .4rem;
    margin-bottom: .4rem;
}

@media screen and (max-width: 767px) {
    .content-header a.btn {
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .content-header .d-flex {
        margin-right: -0.4rem;
    }
}